body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.application_login_head {
  height: 20vh; /* 20% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.recruiter_login_header {
  height: 20vh; /* 20% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.topbar {
  height: 6vh; /* 10% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  min-height: 3em; /* Minimum height of 4em */
  display: flex;
  background-color: #a3ccf5; /* Light background color */
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.5); /* Subtle shadow for depth */
}

.topbar span {
  margin-top: 5px; /* Space between the top of the element and the top of the topbar */
  margin-bottom: 5px; /* Space between the bottom of the element and the bottom of the topbar */
  display:flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  color: #495057; /* Dark text color */
}

.topbar span.status {
  margin-left: 10px; /* Space between the icon and text */
  min-width: 20vw; /* 1/3 of the available space */
  height: 100%; /* Full height */
  justify-content: left;
}

.topbar span.nav {
  margin-left: 10px; /* Push the element to the right */
  margin-right: 10px; /* Space between the icon and text */
  min-width: 50vw; /* 1/3 of the available space */
  height: 100%; /* Full height */
}

button {
  display: inline-block;
  margin-left: 10px; /* Push the element to the right */
  margin-right: 10px; /* Space between the icon and text */
  height: 50%; /* Full height */
  background-color: #f8f9fa; /* Light background color */
  border: none; /* Remove border */
  color: #495057; /* Dark text color */
  cursor: pointer; /* Show pointer on hover */
  padding: 5px; /* Spacing inside the button */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.topbar span.action {
  margin-right: 10px; /* Space between the icon and text */
  margin-left: auto; /* Push the element to the right */
  min-width: 30vw; /* 1/3 of the available space */
  height: 100%; /* Full height */
}

/* I want topbar inhertiences to topbar 1, 2, 3 how*/


.loginForm {
  margin: auto; /* Center the form */
  padding: 5px; /* Spacing inside the form */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally */
  justify-content: center; /* Center elements vertically */
}

.loginForm span.failed_attempt_box {
  margin-top: 10px; /* Space between the top of the element and the top of the form */
  margin-bottom: 10px; /* Space between the bottom of the element and the bottom of the form */
  border: 2px solid #dc3545; /* Red border */
  background-color: #f8d7da; /* Light red background color */
  color: #721c24; /* Dark red text color */
  padding: 10px; /* Spacing inside the box */
  border-radius: 5px; /* Rounded corners */
}